<div>
    <h2>
        Contactos
    </h2>


<table>     <!--Anidamiento table/ul para lograr listas tabuladas-->
    <tbody>
        <tr>
            <td>
                <ul>
                   <li><p>Mail: </p></li>
                </ul>
            </td>
            <td>
                <a href="mailto:hectorgonzalezuno@gmail.com"
                   class="tab">
                   hectorgonzalezuno@gmail.com
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><p>Telefono: </p></li>
                </ul>
            </td>
            <td>
                <a href="whatsapp://send?text=Hola Héctor, Vimos tu CV&phone=+54 9 11 3150 9576&abid=+54 9 11 5040 7100"
                   class="tab" >
                   011 31509576 
                   </a>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><p>Domicilio: </p></li>
                </ul>
            </td>
            <td>
                <a href="https://goo.gl/maps/4k9VCrx3QJgTTpzMA"
                   class="tab" >
                   Joaquin V. González 10555 - Moreno 
                </a>
            </td>
        </tr>
    </tbody>
</table>