h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: default;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
}

a{
    font-family: Arial;
    font-size: 12pt;
    padding-left: 15pt;
   
}

